.userSignUp form{
    display: grid;
   grid-template-columns: 200px 200px;
   box-shadow: 0px 0px 10px black;
   padding: 20px 40px;
}
.userSignUp{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userSignUp input,label{
    font-family: cursive;
    border:none;
    margin: 10px;
}

.userSignUp input{
    border-bottom: 2px solid black;
    outline: none;
}

.userSignUp form:hover{
transform: scale(1.1);
transition: .5s;
}